body {
  background-color: skyblue;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 30px;
}

img {
  float: right;
}

h1 {
  font-weight: bold;
  font-size: 34px;
}

h2 {
  font-style: italic;
  font-size: 30px;
  color: White;
}

h3 {
  font-weight: bold;
  font-size: 22px;
  color: chocolate;
}

p {
  font-family: Arial;
}

li {
  font-weight: bold;
  font-size: 15px;
}

.background {
  font-size: medium;
  color: green;
}

.about {
  font-size: 18px;
  color: red;
}

.programming {
  color: blue;
}

.normal {
  font-family: Arial;
  color: darkviolet;
}

.more-info {
  margin: 15px;
  border: 5px red;
  padding: 10px;
}

.amateur {
  color: black;
}

.background p {
  background-color: yellow;
}

.about p {
  background-color: blue;
}

.more {
  color: blue;
}