body {
  background-color: skyblue;
}

h1 {
  font-style: italic;
  font-size: 30px;
  color: White;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p {
  font-family: Arial;
}

li {
  font-weight: bold;
  font-size: 15px;
}

.background {
  font-size: medium;
  color: green;
}

.about {
  font-size: 20px;
  color: red;
}

.programming {
  color: blue;
}